html, body {
    height: 100%;
}

.rankingTitle {
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
}

.rankingBg {
    background-image: linear-gradient(-90deg, purple, rgb(38, 3, 49))!important; 
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.purple .circle {
    stroke: #4b0d9b;
  }

  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }

  .circular-chart.red .circle {
    stroke: #d62525;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 4px;
    text-anchor: middle;
  }

  .mostSearched {
      height: 471px!important;
  }

  .containerSettings {
      margin-top: auto;
  }